:root{
  --red: #FF0000;
  --boston_universtiy_red: #CC0000;
  --ceulean_blue: #3B4CCA;
  --golden_yellow: #FFDE00;
  --gold_foil: #B3A125;
}
/* * {
} */
.fas {
  color: white;
  font-size: 24px;
  margin: 0 20px
}
body {
  font-family: 'Aldrich', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--golden_yellow);
  text-align: center;
}
img {
  width: 100px;
  border: 4px solid var(--red);
  border-radius: 6px;
  background: white;
}
button {
  width: 130px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  background-color: var(--ceulean_blue);
  font-family: 'Aldrich', sans-serif;
  color: white;
}
button:active {
  box-shadow: 0 0 0 black;
  transform: translateY(4px);
}
ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  list-style: none;
  font-size: 14px;
}
li {
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
}
ol:hover, button:hover {
  cursor: pointer;
}
/* ==================================
<<<<<<<<<HEADER>>>>>>>>>>>>>>>>>>
================================== */

header {
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  color: var(--ceulean_blue);
  background: var(--golden_yellow);
  border-bottom: 2px solid var(--red);
  text-transform: capitalize;
}
header > h1 {
  padding: 20px;
  font-size: 44px;
}

/* ==================================
<<<<<<<<<<<<NAV>>>>>>>>>>>>>>
================================== */
nav {
  display: flex;
  justify-content: center;
  background: var(--gold_foil);
  margin-top: 50px;
  padding: 10px;
}
.nav-form {
  margin: 2% 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.nav-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
input {
  height: 40px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  border: 2px solid var(--ceulean_blue);
  border-radius: 5px
}
.logout {
  margin: auto;
}

/* ==================================
<<<<<<<<<<<MAIN>>>>>>>>>>>>>>>>
================================== */
.main {
  display: flex;
  flex-direction: column;
}

/* ==================================
<<<<<<<<DECK LIST>>>>>>>>>
================================== */
.deck_nav {
  background: var(--golden_yellow);
  color: var(--ceulean_blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deck_header {
  width: 65%;
  margin: 0 auto 10px auto;
}
.deck_header > h2{
  margin: 30px auto;
}
.select_pokemon {
  display: flex;
  align-items: center;
  margin: 10px auto;
}
.deckList {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 150px;
  overflow-x: scroll;
  margin: auto;
  background: var(--ceulean_blue);
  border: 2px solid var(--ceulean_blue);
  text-transform: capitalize;
}
.deckList > li {
  min-width: 100px;
  height: 80px;
  margin: 20px;
  background-color: var(--golden_yellow);
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 50px;
  color: var(--ceulean_blue);
  border: 2px solid white;
  border-radius: 5px;
}
/* ==================================
<<<<<<<<<<<<CARD>>>>>>>>>>>>>
================================== */
.card_background {
  background: var(--golden_yellow);
}
.card, .myCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 2px 2px black;
  margin: 10px auto;
  width: 400px;
  background: var(--ceulean_blue);
  color: white;
  text-transform: capitalize;

}
.info {
  display: flex;
  align-items: flex-start;
  width: 90%;
  padding: 10px;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  width: 35%;
  padding: 0 20px;
  margin: 0 auto;
}
.stats > h3, .stats > ul > h3 {
  border-bottom: 2px solid white;
}
.catch {
  background: var(--red);
}
/* ==================================
<<<<<<<<<MY CARDS>>>>>>>>>>>>>
================================== */
.myCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--golden_yellow);
}
.myCard {
  background: var(--gold_foil);
}
.myCards > h2 {
  width: 100%;
}
.myCard > .image{
  border: 4px solid var(--ceulean_blue);
}
.my_card_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--ceulean_blue);
  border: 2px solid black;
  color: white;
  text-transform: capitalize;
}
.my_card_header > h2 {
  margin: 2% 5%;
}
.card_footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_bottom_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.delete {
  background: var(--ceulean_blue);
}

/* ==================================
<<<<<<<<<USER LIST>>>>>>>>>>>>
================================== */
.userNames {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--golden_yellow);
}
.user_names_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--gold_foil);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: white;
  height: 80px;
}
.user_names_header > h3, .user_names_header > button{
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  text-transform: capitalize;
}
.pokeball-image {
  border: none;
  height: 40px;
  width: 40px;
  margin-bottom: -10px;
  background-color: var(--gold_foil);
}
.user_collections {
  display: flex;
  flex-direction: row;
  background: var(--boston_universtiy_red);
  margin: auto;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
.user_cards {
  display: flex;
  flex-direction: column;
  background: var(--ceulean_blue);
  margin: 20px;
  max-width: 250px;
  max-height: 250px;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 40px 15px 40px;
  color: white;
}

/* ==================================
<<<<<<<<MODAL>>>>>>>>>>>>
================================== */
.instructions {
  background: var(--ceulean_blue);
  color: white;
  margin-top: 30px;
}
.modal-background {
  height: 3000px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal {
  width: 600px;
  height: 600px;
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: var(--golden_yellow);
  border: 5px solid var(--ceulean_blue);
  border-radius: 5px;
  color: var(--ceulean_blue);
  text-transform: capitalize;
}
.modal > img {
  animation: 1s shake;
}
.small {
  width: 450px;
  height: 450px;
}
.pokemonBattle {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: 1s shake;
}
@keyframes shake {
  0% { transform: skewX(-2deg); }
  5% { transform: skewX(2deg); }
  10% { transform: skewX(-2deg); }
  15% { transform: skewX(2deg); }
  20% { transform: skewX(-2deg); }
  25% { transform: skewX(2deg); }
  30% { transform: skewX(-2deg); }
  35% { transform: skewX(2deg); }
  40% { transform: skewX(-2deg); }
  45% { transform: skewX(2deg); }
  50% { transform: skewX(-2deg); }
  55% { transform: skewX(2deg); }
  60% { transform: skewX(-2deg); }
  65% { transform: skewX(2deg); }
  70% { transform: skewX(-2deg); }
  75% { transform: skewX(2deg); }
  80% { transform: skewX(-2deg); }
  85% { transform: skewX(2deg); }
  90% { transform: skewX(-2deg); }
  95% { transform: skewX(2deg); }
  100% { transform: skewX(0deg); }
}
